<mat-card class="example-card" *ngIf="weatherData">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><img src={{weatherData.current.condition.icon}}></div>
      <mat-card-title>{{weatherData.location.name}}</mat-card-title>
      <mat-card-subtitle>{{weatherData.location.country}}</mat-card-subtitle>
      <mat-card-subtitle>{{weatherData.location.localtime}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>{{weatherData.current.condition.text}}</h3>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Temperature</span>
            <span>{{weatherData.current.temp_c}}`C    ( {{weatherData.current.temp_f}}`F )</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Feels Like</span>
            <span matListItemLine>{{weatherData.current.feelslike_c}}`C  ( {{weatherData.current.feelslike_f}}`F  ) </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Humidity</span>
            {{weatherData.current.humidity}} %
          </mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>